$colorFondo: rgb(189, 184, 184);
$colorEncabezado:  rgb(110, 110, 173);
$colorLema: azure;
$colorNoticias1: rgb(103, 102, 131);
$colorNoticias2: rgb(160, 169, 221);
$sizeEncabezado: 25px;
$sizeEncabezado600: $sizeEncabezado + 15;
